<head th:fragment = "headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/projectResources/Images/OG%20PRO%20LOGO.png" class="rel icon">

    <!-- link bootstrap.min.css file -->
    <link rel="stylesheet" href="/projectResources/bootstrap-5.3.7/css/bootstrap.min.css">

    <!-- link fontawesome all.min.css file -->
    <link rel="stylesheet" href="/projectResources/fontawesome-7.0.0/css/all.min.css">

    <!-- link common.css -->
    <link rel="stylesheet" href="/projectResources/css/common.css">



</head>